@charset "utf-8";
/*********************************************** Reset Style ***********************************************/
*{margin:0; padding:0;}
body{
	line-height: 1.42857143;
	font-size: 14px;
	color: #333;
}
body, html, div, blockquote, img, label, p,
h1, h2, h3, h4, h5, h6, pre, ul,  ol, li, dl, dt,
dd, form, a, fieldset, input, select, textarea, th, td, button{ 
	margin:0; padding:0; outline:none; 
	 font-family:'RobotoRegular', Arial, Helvetica, sans-serif; font-weight:normal;
}
option{padding:0 4px 0 4px;}
ol, ul {list-style:none;}

a {color:#474747; text-decoration:none;}
a:hover {color:#2b78c2; text-decoration:none;}
a img {border:none;}

fieldset {border: none;}

.clear{clear:both;}
.floatleft{float:left;}
.floatright{float:right;}
.aligncenter{text-align:center;}

*, *:before, *:after {
    box-sizing: border-box;
}
